<% content_for :title, "Editing customer1" %>

<h1>Editing customer1</h1>

<%= render "form", customer1: @customer1 %>

<br>

<div>
  <%= link_to "Show this customer1", @customer1 %> |
  <%= link_to "Back to customer1s", customer1s_path %>
</div>
