.page{
  max-width: 1050px;
  margin: 28px auto;
  padding: 0 16px;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

.page-header{
  margin-bottom: 10px;
}

.table-title{
  text-align: center;
  color: #10d35e;
  font-size: 25px;
  font-weight: 800;
}

/* Table */
.table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  border: 1px solid #ddd;
}

.table th,
.table td{
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Header */
.table thead th{
  background-color: #10d35e;
  color: white;
  text-transform: uppercase;
}

/* Zebra + hover */
.table tbody tr:nth-child(even){
  background-color: #e4e3e3;
}

.table tbody tr:hover{
  background-color: #ddd;
}

.status{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 8%;
  max-width: 5px;
  border-radius: 50%;
}

.status-true{
  background: #10d35e;
}

.status-false{
  background: red;
}
